.posts_div {
  display: flex;
  flex-direction: row;
  color: #18191a;
  width: 60%;
  margin-left: 20%;
  margin-top: 2rem;
}
.input-div {
  background-color: #222222;
  display: flex;
  flex-direction: row;
  padding-bottom: 0.5rem;
}

.comment-input {
  background-color: #222222;
  color: whitesmoke;
  border-radius: 50px;
  width: 100%;
}

.comment-content {
  display: flex;
  flex-direction: row;
}
.comments-display {
  background-color: #212121;
  color: whitesmoke;
  padding: 1rem;
  border-top: 1px double whitesmoke;
}

#comment-text {
  background-color: grey;
  border: 1px solid grey;
  border-radius: 4px 30px 30px 50px;
  color: black;
  padding: 0 0 0.3rem 2rem;
  margin-bottom: 5px;
}

.col-12 .posts_div {
  display: flex;
  flex-direction: row;
  color: black;
  width: 60%;
}

.upvote-downvote-div {
  background-color: #212121e1;
  color: beige;
  padding-top: 10%;
}

.pd-top {
  width: 100%;
}

#comments_count {
  margin-top: -20px;
  color: black;
  margin-right: -1rem;
}

.post-content-div {
  background-color: #bdbbbb;
  color: #212121;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.post-content-div p {
  color: #212121;
  font-size: 20px;
  font-weight: bold;
}

.text-post-div {
  padding: 2rem;
}

.post-content-div img {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.contents-tools-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tools {
  padding: 0.3rem;
  background-color: #212121;
  color: beige;
  display: flex;
  flex-shrink: 10;
  flex-direction: row;
}

.col-6 {
  padding: 0.3rem;
}

.badge:hover {
  opacity: 0.6;
}

#count {
  margin-top: 0.4rem;
}

.badge:hover {
  opacity: 0.5;
}

#up-arrow:hover {
  color: #27c200;
}

#down-arrow:hover {
  color: red;
}

#post-image {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
}
#count {
  margin: 0.6rem;
}

.title-div {
  color: beige;
  background-color: #242526;
}

#up-arrow {
  margin-top: 0.7rem;
  margin-right: 0;
}
#down-arrow {
  margin-top: 0.7rem;
}

.comments-badge {
  margin: 0.5rem;
}
.title-div {
  padding: 1rem;
  width: 100%;
}

main {
  padding: 0;
}

@media screen and (device-width: 768px) and (device-height: 1024px) {
  .col-1 {
    margin-left: 0;
  }

  #post-image {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .posts_div {
    color: black;
    width: 100%;
    margin-left: 0;
  }

  .post-content-div {
    width: 100%;
    padding: 0;
  }

  .content-div {
    padding: 0;
    margin: 0;
  }
  #up-arrow {
    margin-right: 0.5rem;
  }
  #down-arrow {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .title-div {
    padding: 1rem;
    width: 100%;
  }

  .contents-tools-div {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    margin: 0;
  }
  #col-12 {
    width: 100%;
    min-width: 100%;
    padding: 0;
  }
}

.pd-top .posts_div {
  width: 60%;
  margin-left: 20%;
}

@media screen and (max-width: 1060px) {
  .col-1 {
    margin-left: 0;
  }
  #post-image {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .posts_div {
    color: black;
    min-width: 100%;
    margin-left: 0;
  }

  .post-content-div {
    width: 100%;
    padding: 0;
  }

  .content-div {
    padding: 0;
    margin: 0;
  }
  #up-arrow {
    margin-right: 0.5rem;
  }
  #down-arrow {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .title-div {
    padding: 1rem;
    width: 100%;
  }

  .contents-tools-div {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    margin: 0;
  }
  #col-12 {
    width: 100%;
    min-width: 100%;
    padding: 0;
  }

  .pd-top .posts_div {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (device-width: 1024px) and (device-height: 1366px) {
  .col-1 {
    margin-left: 0;
  }
  #post-image {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  #col-12 {
    width: 100%;
    min-width: 100%;
    padding: 0;
  }

  .posts_div {
    color: black;
    min-width: 100%;
    margin-left: 0;
  }

  .post-content-div {
    width: 100%;
    padding: 0;
  }

  .content-div {
    padding: 0;
    margin: 0;
  }
  #up-arrow {
    margin-right: 0.5rem;
  }
  #down-arrow {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .title-div {
    padding: 1rem;
    width: 100%;
  }

  .contents-tools-div {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    margin: 0;
    box-shadow: 0px 0px 6px 2px rgb(51, 51, 51);
  }

  .pd-top .posts_div {
    width: 100%;
    margin-left: 0;
  }
}
