.posts_div {
  display: flex;
  flex-direction: row;
  color: black;
}
.upvote-downvote-div {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
  background-color: #212121;
  color: beige;
  border: 5px double beige;
  margin: 1px;
}

.post-content-div {
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
  padding: 2rem;
  border-radius: 10px;
  background-color: #212121;
  color: beige;
  border: 5px double beige;
  margin: 1px;
}

.contents-tools-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tools {
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
  padding: 1rem;
  border-radius: 10px;
  background-color: #212121;
  color: beige;
  border: 5px double beige;
  margin: 1px;
}

.col-6 {
  padding: 0.3rem;
}

i:hover {
  opacity: 0.5;
}
