.main_profile {
  width: 90%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  background-color: #dae0e6;
}

.content-div {
  display: flex;
  flex-direction: row;
}

.post-div {
  margin: 1rem;
  margin-left: 2rem;
  color: rgb(44, 44, 44);
  width: 90%;
  padding: 2rem;
  height: 1000px;
}

.user-info-div {
  width: 100%;
  margin-top: 3rem;
}

.avatar {
  background-color: aliceblue;
  width: 200px;
  height: 200px;
  z-index: 6;
  box-shadow: 0px 0px 6px 2px rgba(145, 145, 145, 1);
}

.avatar:hover {
  opacity: 0.8;
  box-shadow: 0px 0px 6px 2px rgb(151, 0, 0);
}

.user-contents {
  display: flex;
  flex-direction: row;
}

.avatar_img {
  width: 312px;
  height: 220px;
  margin-left: -12px;
  box-shadow: 0px 0px 6px 2px rgb(0, 0, 0);
}

.user-details {
  padding: 0.7rem;
  margin-left: 5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

input[type="File"] {
  display: none;
}

#nav {
  color: beige;
  width: 95%;
  height: 50px;
  position: sticky;
  top: 0px;
  background-color: #212121;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
  margin-left: 1rem;
}
#nav ul {
  display: flex;
  list-style-type: none;
  color: aliceblue;
}
#nav ul li {
  color: beige;
  white-space: pre-line;
  margin-top: 5px;
  padding: 0.5rem;
}

#nav ul li:hover {
  background-color: #7070704b;
  opacity: inherit;
}
#nav ul li:active {
  opacity: inherit;
  border-bottom: 5px aliceblue solid;
}
.nav-div {
  width: 70%;
}
.pp-div {
  position: sticky;
  top: 0px;
  margin-left: 2rem;
  color: beige;
}

.card {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.user-details ul li {
  list-style-type: none;
}
.user-name-div {
  margin: 1rem;
  display: flex;
  align-items: flex-end;
  font-weight: bolder;
}

.changeAvatar {
  position: relative;
  top: -220px;
  background-color: rgba(0, 0, 0, 0.377);
  height: 220px;
  width: 312px;
  margin-left: -12px;
  color: white;
  font-size: 20px;
  text-align: center;
  padding-top: 40%;
  opacity: 0;
}
.avatar:hover .changeAvatar {
  opacity: 1;
}

#file-upload {
  margin-left: 6rem;
}
