html {
  background-color: rgba(0, 0, 0, 0.685);
}

#tab-nav {
  background-color: #222222;
  margin-top: 2rem;
  margin-left: 3rem;
  position: sticky;
  top: 0;
}

#nav-tabContent {
  margin-left: 3rem;
}
.nav-link {
  color: whitesmoke;
}

.profile-nav-link {
  color: whitesmoke;
  border-radius: 10px;
}

.nav-link:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 0, 0, 0.452);
  border-radius: 20px;
}

.folowers-div {
  padding: 0.5rem;
  background-color: #212121;
}

.folowers-div-profile {
  padding: 0.5rem;
  width: 80%;
  background-color: #212121;
  border-radius: 50px;
  border: 2px solid whitesmoke;
  margin-top: 5px;
}

.folowers-div-profile:hover {
  margin-top: 5px;
  width: 80%;
  background-color: crimson;
  border: 2px dotted whitesmoke;
  color: #212121;
  margin-left: 2%;
  border-radius: 50px;
  box-shadow: 0px 0px 5px -5px rgba(184, 184, 184, 1);
}

.followers-name-div {
  color: whitesmoke;
}

@media screen and (max-width: 1060px) {
  #tab-nav {
    background-color: #212121;
    margin-top: 2rem;
    margin-left: 0;
    position: sticky;
    top: 0;
  }

  #nav-tabContent {
    margin-left: 0;
  }
}
