.main_profile {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.76);
}

.content-div {
  display: flex;
  flex-direction: row;
}

.post-div {
  margin: 1rem;
  margin-left: 2rem;
  color: rgb(44, 44, 44);
  width: 90%;
  padding: 2rem;
  height: 1000px;
}

.user-info-div {
  width: 100%;
  margin-top: 3rem;
}

.avatar {
  background-color: aliceblue;
  width: 200px;
  height: 200px;
  z-index: 6;
  box-shadow: 0px 0px 6px 2px rgba(145, 145, 145, 1);
}

.avatar:hover {
  opacity: 0.8;
  box-shadow: 0px 0px 6px 2px rgb(151, 0, 0);
}

.user-contents {
  display: flex;
  flex-direction: row;
}

.avatar_img {
  width: 312px;
  height: 220px;
  margin-left: -12px;
  box-shadow: 0px 0px 6px 2px rgb(0, 0, 0);
  border-radius: 20px;
}

.user-details {
  padding: 0.7rem;
  margin-left: 5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

input[type="File"] {
  display: none;
}

#nav {
  color: beige;
  width: 95%;
  height: 50px;
  position: sticky;
  top: 0px;
  background-color: #212121;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
  margin-left: 1rem;
}
#nav ul {
  display: flex;
  list-style-type: none;
  color: aliceblue;
}
#nav ul li {
  color: beige;
  white-space: pre-line;
  margin-top: 5px;
  padding: 0.5rem;
}

#nav ul li:hover {
  background-color: #7070704b;
  opacity: inherit;
}
#nav ul li:active {
  opacity: inherit;
  border-bottom: 5px aliceblue solid;
}
.nav-div {
  width: 70%;
}
.pp-div {
  margin-left: 2rem;
  color: beige;
}

.user-details ul li {
  list-style-type: none;
}
.user-name-div {
  margin: 1rem;
  display: flex;
  align-items: flex-end;
  font-weight: bolder;
}

.changeAvatar {
  position: relative;
  top: -220px;
  background-color: rgba(0, 0, 0, 0.377);
  height: 220px;
  width: 312px;
  margin-left: -12px;
  color: white;
  font-size: 20px;
  text-align: center;
  padding-top: 40%;
  opacity: 0;
}
.avatar:hover .changeAvatar {
  opacity: 1;
}

#file-upload {
  margin-left: 6rem;
}

.prog-bar {
  width: 150px;
  height: 150px;
  margin-left: 10rem;
  background-color: rgb(255, 255, 255);
}

@media screen and (device-width: 768px) and (device-height: 1024px) {
  .user-contents {
    display: flex;
    flex-direction: column-reverse;
  }
  .main_profile {
    margin: 0;
    width: 100%;
    padding: 0;
  }

  .pp-div {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1rem 0 1rem 0;
  }
  .nav-div {
    flex: 1;
    margin-left: 0;
    width: 100%;
  }
  #nav {
    width: 100%;
    margin-left: 0;
  }
}

/* for Ipad pro */

@media screen and (device-width: 1024px) and (device-height: 1366px) {
  .user-contents {
    display: flex;
    flex-direction: column-reverse;
  }
  .main_profile {
    margin: 0;
    width: 100%;
    padding: 0;
  }

  .pp-div {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1rem 0 1rem 0;
  }
  .nav-div {
    flex: 1;
    margin-left: 0;
    width: 100%;
  }
  #nav {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 1060px) {
  .user-contents {
    display: flex;
    flex-direction: column-reverse;
  }
  .main_profile {
    margin: 0;
    width: 100%;
    padding: 0;
  }

  .pp-div {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1rem 0 1rem 0;
  }
  .nav-div {
    flex: 1;
    margin-left: 0;
    width: 100%;
  }
  #nav {
    width: 100%;
    margin-left: 0;
  }
  #file-upload {
    margin: 0 10px 0 10px;
    width: 90%;
  }
}

.edit-profile {
  background-color: #212121;
  color: beige;
  border: beige 1px solid;
  padding: 5rem;
  border-radius: 10px;
}

.card-flip > div {
  backface-visibility: hidden;
  transition: transform 300ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
  transform: rotateY(0deg);
}

#edit-profile-card {
  width: 100%;
  height: auto;
}

#card-content {
  width: 70%;
  margin-left: 1rem;
}

#md-input:focus {
  color: beige;
}

.md-form input {
  color: white;
}

.md-form input:focus {
  color: white;
}

.form-group input {
  color: white;
}
