html {
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9")
    no-repeat center fixed;
  background-size: cover;
}

#fg-row {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.616);
  margin: 0;
}

.fg-col {
  margin-top: 5rem;
  margin-left: 15rem;
}

#reset-card {
  display: flex;
  margin: 0.5rem;
  width: 95%;
  justify-content: center;
  margin-left: 9rem;
}

#reset-card1 {
  display: flex;
  margin: 1rem;
  width: 90%;
  justify-content: center;
  overflow: hidden;
  margin-left: 11rem;
}
@media screen and (device-width: 768px) and (device-height: 1024px) {
  #fg-row {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.616);
    margin: 0;
    overflow: hidden;
  }

  .fg-col {
    width: 100%;
    margin-top: 5rem;
    margin-left: 0;
    height: 100vh;
  }

  #reset-card {
    display: flex;
    margin: 0.5rem;
    width: 95%;
    justify-content: center;
    height: 50rem;
  }

  #reset-button {
    margin: 3rem;
    padding: 0.5rem;
  }

  #reset-card1 {
    display: flex;
    margin: 1rem;
    width: 90%;
    justify-content: center;
    overflow: hidden;
  }
}

/* for Ipad pro */

@media screen and (device-width: 1024px) and (device-height: 1366px) {
  #fg-row {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.616);
    margin: 0;
    overflow: hidden;
  }

  .fg-col {
    width: 100%;
    margin-top: 5rem;
    margin-left: 0;
    height: 100vh;
  }

  #reset-card {
    display: flex;
    margin: 0.5rem;
    width: 95%;
    justify-content: center;
    height: 50vh;
  }

  #reset-button {
    margin: 3rem;
    padding: 0.5rem;
  }

  #reset-card1 {
    display: flex;
    margin: 0.5rem;
    width: 95%;
    justify-content: center;
    overflow: hidden;
  }
}

@media screen and (max-width: 1060px) {
  #fg-row {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.616);
    margin: 0;
    overflow: hidden;
  }

  .fg-col {
    width: 100%;
    margin-top: 5rem;
    margin-left: 0;
    height: 100vh;
    padding: 0.3rem;
  }

  #reset-card {
    display: flex;
    margin: 0.5rem;
    width: 95%;
    justify-content: center;
  }

  #reset-card1 {
    display: flex;
    margin: 0.5rem;
    width: 95%;
    justify-content: center;
    overflow: hidden;
  }

  #reset-button {
    margin: 3rem;
    padding: 0.5rem;
  }
}
