.login_div {
  padding: 1rem 1rem 1rem 1rem;
  width: 25%;
  margin-left: 75%;
  background: rgba(0, 0, 0, 0.726);
  height: 100vh;
  color: whitesmoke;
}

.head_div {
  padding: 0.2rem;
  background: rgba(40, 43, 44, 0.562);
  margin-top: 1rem;
  color: beige;
  border-radius: 80px 0px 80px 0px;
  border-left: 15px solid rgba(250, 0, 0, 0.342);
  border-right: 15px solid rgba(250, 0, 0, 0.342);
  font-size: 30px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.75);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#g-log {
  background-color: black;
  color: beige;
}

.error_div {
  color: #db4455;
  font-size: 12px;
}

.info-div-login {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: small;
}

.social_login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

.social_register {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem;
}

#reset-card {
  width: 500px;
  margin-left: 12rem;
  display: flex;
  justify-content: center;
}
#reset-button {
  width: 200px;
  margin-left: 10rem;
  margin-bottom: 2rem;
}

.logo-name {
  margin-left: 2.5rem;
}

.logo-title1 {
  font-size: 60px;
}
.logo-title2 {
  font-size: 60px;
}

.logo-title1-nav {
  font-size: 25px;
  color: whitesmoke;
  font-weight: 1000;
}
.logo-title2-nav {
  font-size: 25px;
  color: red;
  text-decoration: dotted;
  font-weight: 500;
  font-weight: 1000;
}

@media screen and (max-width: 1060px) {
  .login_div {
    padding: 1rem 1rem 1rem 1rem;
    width: 100%;
    margin: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.726);
    height: 100%;
    color: whitesmoke;
  }

  .logo-name {
    margin-left: 13rem;
  }

  .logo-title1 {
    font-size: 70px;
  }
  .logo-title2 {
    font-size: 70px;
  }
}

@media screen and (max-width: 1060px) {
  .login_div {
    padding: 1rem 1rem 1rem 1rem;
    width: 100%;
    margin: 0;
    height: fit-content;
    background: rgba(0, 0, 0, 0.726);
    height: 100vh;
    color: whitesmoke;
  }

  .logo-name {
    margin-left: 4rem;
  }

  .logo-title1 {
    font-size: 70px;
  }
  .logo-title2 {
    font-size: 70px;
  }
}

@media screen and (device-width: 768px) and (device-height: 1024px) {
  .login_div {
    padding: 7rem 1rem 10rem 1rem;
    width: 100%;
    margin: 0;
    background: rgba(0, 0, 0, 0.788);
    height: 100vh;
    color: whitesmoke;
  }

  .wrapper1 {
    background: url("https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9")
      no-repeat center fixed;
    background-size: cover;
  }

  .head_div {
    margin-bottom: 5rem;
    width: 70%;
    margin-left: 7rem;
    padding: 1rem;
    font-size: 70px;
  }

  .form_div {
    width: 70%;
    margin-left: 7rem;
  }

  .logo-name {
    margin-left: 12rem;
  }
  .logo-title1 {
    font-size: 100px;
  }
  .logo-title2 {
    font-size: 100px;
  }
}

/* for Ipad pro */

@media screen and (device-width: 1024px) and (device-height: 1366px) {
  .login_div {
    padding: 7rem 1rem 10rem 1rem;
    width: 100%;
    margin: 0;
    background: rgba(0, 0, 0, 0.788);
    height: 100vh;
    color: whitesmoke;
  }

  .wrapper1 {
    background: url("https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9")
      no-repeat center fixed;
    background-size: cover;
  }

  .head_div {
    margin-bottom: 5rem;
    width: 70%;
    margin-left: 7rem;
    padding: 1rem;
    font-size: 70px;
  }

  .form_div {
    width: 70%;
    margin-left: 7rem;
  }

  .info-div-login {
    font-size: 30px;
  }

  .logo-name {
    margin-left: 20rem;
  }
  .logo-title1 {
    font-size: 100px;
  }
  .logo-title2 {
    font-size: 100px;
  }
}
